// Specific CSS for your home-page

header{
	padding: 3rem 3vw;
	display: flex;
	justify-content: space-around;
	text-align: center;

	h1{
		font-size: 10vw;
	}

	.create--link{
		align-self: center;
		font-size: 5vw;
	}
}

section{
	padding: 0 14vw;
}

//ul list 
.item--list{
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-areas: "item  space--link delete--link";
	grid-auto-columns: 1fr 1fr 5vw;
	grid-column-gap: 0;
	grid-row-gap: 1vw;
	
	//li item
	.item{
		font-size: 5vw;
		text-transform: capitalize;
		overflow: hidden;
		max-width: 10ch;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	//task index
	.item--index{
		font-size: 2vw;
		font-weight: lighter;
		opacity: 0.5;
		top: -1.5em;
	}

	.space--link{
		width: 80%;
		height: 1px;
		background-color: black;
		opacity: 0.2;
		align-self: center;
	}

	.delete--link{
		font-size: 5vw;
	}

	//task over
	.checked{
		text-decoration: line-through;
		font-style: italic;
	}
}
