<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa fa-check-square-o"></i>
      <% else %>
        <i class="fa fa-square-o"></i>
      <% end %>
      <%= link_to task.title, task_path(task)%>
      <%= link_to 'x', task_path(task), method: :delete, data: { confirm: "Are you sure?" }%>
    </li>
  <% end %>
</ul>

<hr>


<%= link_to '+ Create a new task', new_task_path %>
