<header>
  <%= link_to '<', root_path, class: "back--link"%>
  <h1><%= @task.title.capitalize()%></h1>
  <%= link_to 'edit task', edit_task_path(@task), class: "edit--link" %>
</header>

<div class="details">
  <%= @task.details %>!
</div>

<div class="task--done?">
  <% if @task.completed %>
    This task is completed
  <% else %>
    This task is not completed yet
  <% end %>
</div>


