<div class="header">
  <h1><%= @task.title%></h1>
  <%= link_to 'edit task', edit_task_path(@task) %>
</div>
<div class="details">
  <%= @task.details %>!
</div>
<% if @task.completed %>
  <i class="fa fa-check-square-o"></i> This task is completed
<% else %>
  <i class="fa fa-square-o"></i> This task is not completed yet
<% end %>
<hr>


<%= link_to 'back to list', root_path%>
