<h1>My tasks</h1>
<ul>
  <% @all_tasks.each do |task| %>
    <li>
      <input type="checkbox" class="task" name="<%task.title%>">
      <label for="<%task.title%>"><%=task.title%></label>
    </li>
  <% end %>
</ul>
