// Graphical variables
@import "config/fonts.scss";
@import "config/colors.scss";
@import "config/bootstrap_variables.scss";

// External libraries
@import "bootstrap";


// Your CSS partials
@import "pages/index.scss"; 
@import "pages/show.scss";



//Global css
*,
*::after,
*::before{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	color: black;
	font-family: $body-font;
}

a{
	text-decoration: none;

	&:visited{
		color: black;
	}
}