// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com.

li{
  list-style: none;
  font-size: 25px;
}

.details{
  padding: 20px 0;
  background-color: azure;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
}

.check{
  padding: 20px 0;
  margin-bottom: 30px;
}
